* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    text-decoration: none;
    outline:none;
    border:none;
    font-size:100%;
    font-family:Helvetica;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
    background-color:rgb(246, 245, 245);
}

main {
    border:1.5px solid black;
    width:500px;
    min-height:80vh;
    display:flex;
    justify-content: space-between;
}

#principal {
    flex-grow:1;
    background:rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    padding:10px;
    font-size:1.3rem;
    border-bottom:1px solid black;
    min-height:45px;
}

#tarefas {
    flex-grow: 1;
    display: flex;
    flex-direction:column;
    gap:15px;
    padding:20px;
}

#campoTarefa {
    height:50px;
    background:rgb(228, 228, 228);
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px 20px;
}

#campoTarefa input {
    padding:6px 10px;
    width:280px;
}

#addTarefa {
    padding:6px 12px;
    cursor:pointer;
    margin-left:5px;
    background:goldenrod;
    opacity: 1;
}

#addTarefa:hover {
    background:rgb(184, 132, 1);
}

#addTarefa:active {
    background:goldenrod;
}

#addTarefa:disabled {
    background:#bebebe;
    cursor:no-drop;
    border:1px solid gray;
}

#github {
    position: fixed;
    bottom:10px;
    right: 20px;
}

#github img {
    width:60px;
}


/*js*/


.containerTarefa {
    width:100%;
    height:40px;
    border:1px solid black;
    background:#eee9e9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 5px;
    order:0;
    position: relative;
    z-index: 1;
}

.marcador {
    border:1px solid black;
    width:35px;
    height: 30px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
}

.marcador::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 15px;
    border: solid mediumseagreen;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    left: 10px;
    top: 3px;
    opacity:0;
    transition: opacity 0.2s ease-in-out;
}

.marcador:hover::after {
    opacity:1;
}

.tarefa-criada {
    width:80%;
    height: 30px;
    background-color: #ffffff;
    padding:0 15px;
}

.opcoes {
    padding:10px;
    cursor:pointer;
}

.opcoes:hover {
    background-color:rgba(255, 255, 255, 0.5);
}



.concluidaContainer {
    order:1;
    opacity: 0.5;
    justify-content: flex-start;
    gap:10px;
}

.concluidaMarcador::after {
    opacity: 1;
    border-color: gray;
}

.concluidaTarefa {
    text-decoration: line-through;
}



.caixaOpcoes {
    width: 100px;
    height: 90px;
    border:1px solid black;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    left:40px;
    z-index: 10;
    position: absolute;
    top:8px;
    left:102.5%;
    z-index: 2;
    display:none;
    background:white;
}

.caixaOpcoes::after {
    content:'';
    width:15px;
    height: 15px;
    border-width: 1px 0 0 1px;
    border-color: black;
    border-style: solid;
    transform: rotate(-45deg);
    position: absolute;
    top:3px;
    left:-9px;
}

.cores {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.cor {
    width:20px;
    height:20px;
    border-radius: 50%;
    border:1px solid gray;
    display: inline-block;
    cursor:pointer;
}

.cinza {
    background-color: #EEE9E9;
}

.azul {
    background-color: rgb(170, 170, 253);
}

.vermelho {
    background-color: rgb(254, 102, 102);
}

.gold {
    background-color: gold;
}

.mudar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.editarTarefa, .deletarTarefa {
    cursor:pointer;
    color:rgb(0, 0, 74);
    display: block;
    text-align: center;
    padding:3px;
}

.mostrar {
    display:block;
}

.esconder {
    display: none !important;
}