* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    font-size: 100%;
    font-family: 'Helvetica', sans-serif;
    user-select: none;
    overflow-x: none !important;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #f6f5f5;
    overflow: hidden;
}

main {
    border: 1.5px solid #ddd;
    width: 650px;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#principal {
    flex-grow: 1;
    background: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

h1 {
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    color: #333;
    border-bottom: 1px solid #ddd;
    min-height: 45px;
    font-weight: 600;
}

#tarefas {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #85898b #f1f1f1; 
}


#tarefas::-webkit-scrollbar {
    width: 8px; 
}

#tarefas::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px; 
}

#tarefas::-webkit-scrollbar-thumb {
    background-color: #c1c3c5; 
    border-radius: 10px; 
    border: 2px solid #f1f1f1;
}

#tarefas::-webkit-scrollbar-thumb:hover {
    background-color: #858b90;
}



#campoTarefa {
    height: 50px;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 5px;
}

#campoTarefa input {
    padding: 6px 10px;
    width: 280px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#addTarefa {
    padding: 6px 12px;
    cursor: pointer;
    margin-left: 5px;
    background: #ffb84d;
    color: white;
    border-radius: 5px;
    transition: background 0.3s ease;
}

#addTarefa:hover {
    background: #ffa31a;
}

#addTarefa:active {
    background: #ffb84d;
}

#addTarefa:disabled {
    background: #e0e0e0;
    cursor: not-allowed;
    border: 1px solid #bbb;
}

#github {
    position: fixed;
    bottom: 10px;
    right: 20px;
}

#github img {
    width: 60px;
}

/* Tarefa */
.containerTarefa {
    width: 83%;
    height: 40px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    border-radius: 5px;
    position: relative;
    transition: background 0.3s ease;
}

.containerTarefa:hover {
    background: #f1f1f1;
}

.marcador {
    border: 1px solid #ddd;
    width: 35px;
    height: 30px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.marcador::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 15px;
    border: solid mediumseagreen;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    left: 11px;
    top: 3px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.marcador:hover::after {
    opacity: 1;
}

.marcador:active::after {
    opacity: 0;
    transition: none;
}

.tarefa-criada {
    width: 80%;
    height: 30px;
    background-color: #fff;
    padding: 0 15px;
    font-size: 1rem;
    color: #343434 !important;
}

.tarefa-criada:disabled {
    color: #aaa;
}

.opcoes {
    padding: 10px;
    cursor: pointer;
    display: block;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.opcoes:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.caixaOpcoes {
    width: 100px;
    height: 90px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 5px;
    left: 103%;
    background: #fff;
    border-radius: 5px;
    display: none;
    z-index: 10;
}

.caixaOpcoes::after {
    content: '';
    width: 15px;
    height: 15px;
    border-width: 1px 0 0 1px;
    border-color: #ddd;
    border-style: solid;
    transform: rotate(-45deg);
    position: absolute;
    top: 4px;
    left: -8px;
}

.cores {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.cor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: inline-block;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.cor:hover {
    opacity: 1;
}

.cinza {
    background-color: #EEE9E9;
}

.azul {
    background-color: #aab2fd;
}

.vermelho {
    background-color: #fe6666;
}

.gold {
    background-color: #ffcc00;
}

.mudar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editarTarefa, .deletarTarefa {
    cursor: pointer;
    color: #001b41;
    display: block;
    text-align: center;
    padding: 3px;
    transition: color 0.3s ease;
}

.editarTarefa:hover, .deletarTarefa:hover {
    color: #f00;
}

.editado {
    animation: editado 1s infinite alternate;
}

@keyframes editado {
    0% {
        background-color: #c6c3c3;
    }
    50% {
        background-color: #fff;
    }
}

.mostrar {
    display: block;
}

.esconder {
    display: none !important;
}

.concluidaContainer {
    order: 1;
    opacity: 0.5;
    gap: 10px;
}

.concluidaMarcador::after {
    opacity: 1;
    border-color: gray;
}

.concluidaMarcador:hover::after {
    opacity: 0.5;
    border-color: gray;
}

.concluidaTarefa {
    text-decoration: line-through;
}

.concluidaCaixaOpcoes {
    height: 60px;
}




@media (max-width: 768px) {

    main {
        width: 90%;
        height: 80vh;
    }

    #principal {
        width: 100%;
    }

    #campoTarefa input {
        width: 95%;
    }

    .containerTarefa {
        width: 100%;
    }

    .containerTarefa input {
        width: 80%;
    }

    .opcoes {
        padding: 8px;
    }

    #github {
        display: none;
    }
}


@media only screen and (max-width:600px) {


    #tarefas {
        padding:70px 15px 20px;
        position: relative;
    };

    #campoTarefa input {
        width: 95%;
    }

    .containerTarefa {
        position: static;
        gap:7px;
    }

    .caixaOpcoes {
        width: 80%;
        height: auto;
        padding: 5px;
        border: 1px solid rgb(105, 104, 104);
        display: flex;
        flex-direction: row !important;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgb(255, 252, 252);
        border-radius: 5px;
        display: none;
        z-index: 10;
    }
    
    .caixaOpcoes::after {
        display: none;
    }
    
    .cores {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100px;
        padding: 5px;
    }
    
    .cor {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid #abaaaa;
        display: inline-block;
        cursor: pointer;
        opacity: 0.7;
        transition: opacity 0.3s ease;
    }
    
    .cor:hover {
        opacity: 1;
    }
    
    .cinza {
        background-color: #EEE9E9;
    }
    
    .azul {
        background-color: #aab2fd;
    }
    
    .vermelho {
        background-color: #fe6666;
    }
    
    .gold {
        background-color: #ffcc00;
    }
    
    .mudar {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .editarTarefa, .deletarTarefa {
        font-size: 0.9rem;
        cursor: pointer;
        color: #001b41;
        display: inline-block;
        text-align: center;
        padding: 3px;
        transition: color 0.3s ease;
    }
    
    .editarTarefa:hover, .deletarTarefa:hover {
        color: #f00;
    }
    
    .editado {
        animation: editado 1s infinite alternate;
    }
    
    @keyframes editado {
        0% {
            background-color: #c6c3c3;
        }
        50% {
            background-color: #fff;
        }
    }
    
    .mostrar {
        display: flex;
    }
    
    .esconder {
        display: none !important;
    }
    
    .concluidaContainer {
        order: 1;
        opacity: 0.5;
        gap: 10px;
    }
    
    .concluidaMarcador::after {
        opacity: 1;
        border-color: gray;
    }
    
    .concluidaMarcador:hover::after {
        opacity: 0.5;
        border-color: gray;
    }
    
    .concluidaTarefa {
        text-decoration: line-through;
    }
    
    .concluidaCaixaOpcoes {
        height: 60px;
    }
}

@media only screen and (max-width:730px) and (min-height:600px){

    body {
        height:130vh;
        align-items: flex-start;
        padding-top:50px;
    }

    main {
        width: 90%;
        height: 60vh;
    }
}