@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    user-select: none;
    outline: none;
}


body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    background: linear-gradient(135deg, #f0f4f8, #e6ecf1);
}

/* Container Principal */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    background: #f4fbfb;
    border-radius: 16px;
    animation: piscarContainer 1.3s ease infinite alternate;
}

@keyframes piscarContainer {

    from {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1), 0 0 5px rgba(255, 0, 255, 0.2);
    }
    to {
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3), 0 0 15px rgba(255, 0, 255, 0.5);
    }
}


/* Títulos */
h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Campos */
#container-campo {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#real-moeda {
    margin: 0 10px;
    font-size: 1.2rem;
}

#campo {
    padding: 10px;
    width: 140px;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    transition: border-color 0.2s ease-in-out;
}

#campo:focus {
    border-color: #c0266a;
}

/* Seletor de Moedas */
#container-moedas {
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

label {
    font-size: 1.1rem;
    color: #555;
}

/* Botões */
#container-botoes {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 15px;
}

#container-botoes button {
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #fff;
    transition: transform 0.2s, background-color 0.3s;
}

#converter {
    background-color:mediumseagreen;
}

#converter:hover, #converter:active {
    background-color:rgb(48, 145, 92);
    transform: scale(1.05);
}

#converter:disabled {
    background-color: #94d3a2;
    cursor: not-allowed;
}

#limpar {
    background-color: #dc3545;
}

#limpar:hover, #limpar:active {
    background-color: #c82333;
    transform: scale(1.05);
}
/* Resultado */
#container-resultado {
    display: flex;
    justify-content: center;
    padding: 15px;
}

#resultado {
    text-align: center;
    padding: 15px;
    background: #f8f9fa;
    border-radius: 4px;
    font-size: 1.1rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

/* Link GitHub */
#github {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 6px;
    font-size: 0.9rem;
    color: #fff;
}


/* Esconde os botões de rádio padrão */
.radioB {
    display: none;
}

/* Estilo para o label e a transformação da bolinha em cifrão */
.radioB + label {
    position: relative;
    display: inline-block;
    padding: 0 10px 0 30px  ; /* Espaço para a bolinha */
    font-size: 1rem;
    color: #333;
    cursor: pointer;
}

/* Estilo da bolinha transformada em cifrão */
.radioB + label:before {
    content: '$'; /* Adiciona o símbolo de cifrão */
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px; /* Tamanho do símbolo de cifrão */
    color: #333;
}

/* Quando o rádio está selecionado */
.radioB:checked + label:before, .radioB:checked + label {
    color:mediumseagreen !important; /* Cifrão azul quando selecionado */
    font-weight: 600;
}


/* Efeito quando o rádio é hover */
.radioB + label:hover, .radioB + label:hover:before  {
    color: silver; /* Cifrão azul no hover */
}




/* Responsividade */
@media only screen and (max-width: 768px) {

    main {
        padding: 20px;
        border-radius: 12px;
    }

    h1 {
        font-size: 1.8rem;
    }

    #campo {
        width: 120px;
    }

    #resultado {
        width: 250px;
        font-size: 1rem;
    }

    #github {
        display: none !important;
    }
}


@media only screen and (max-width: 500px) {

    body {
        padding: 10px;
    }

    main {
        width:80vw;
    }

    h1 {
        font-size: 1.5rem;
    }

    #campo {
        width: 100px;
    }

    #container-moedas, #container-botoes {
        flex-direction: column;
        gap: 10px;
    }

    #resultado {
        width: 100%;
    }

    #github {
        display: none !important;
    }
}

@media only screen and (max-width:730px) and (min-height:630px) {

    body {
        align-items: flex-start;
        padding-top: 40px;
    }
}
