* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    text-decoration: none;
    outline:none;
    font-size:100%;
    font-family:Helvetica;
    user-select:none;
}

body {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100vw;
    height:100vh;
    overflow-x: hidden;
    position: relative;
}

/* partidas */

#partidas {
    position: absolute;
    top:20px;
    left:40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#partidas h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
    padding:15px 0;
}

#container-das-partidas {
    display: flex;
    gap:20px;
    font-size: 1.1rem;
}

.container-partida{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-partida label {
    padding:10px 3px;
}

.container-partida input, .container-partida label {
    cursor: pointer;
}




/* status */

#status-container {
    position: absolute;
    bottom:15px;
    left:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:160px;
    width:150px;
    gap:10px;
}

#status-container h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.fa-trophy {
    color:gold;
}

.jogador {
    display: flex;
    align-items: center;
    gap:8px;
    font-weight: 600;
}

#status-container span {
    font-size: 1.2rem;
    font-weight: lighter;
}

.fa-arrow-right {
    font-size: 0.8rem;
}

#reiniciar-partida {
    background-color: red;
    padding:10px;
    border:none;
    color:white;
    font-weight: bold;
    cursor:pointer;
    margin-top: 10px;
}

#reiniciar-partida:hover {
    background-color: rgb(229, 0, 0);
}

/* principal */

main {
    border:1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:30px 10px;
}

h1 {
    font-size: 1.7rem;
    border-bottom: 1px solid black;
    padding:15px;
    width: 90%;
    text-align: center;
}

main span {
    font-size: 1.1rem;
}

#celulas {
    width:360px;
    height:360px;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    transform: scale(0.85);
}

.celula {
    width:120px;
    height:120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#celula1 {
    border-width: 0 3px 3px 0;
    border-style:solid;
    border-color: black;
}

#celula3 {
    border-width: 0 0 3px 3px;
    border-style:solid;
    border-color: black;
}

#celula-meio{
    outline:3px solid black;
}

#celula7 {
    border-width: 3px 3px 0 0;
    border-style:solid;
    border-color: black;
}

#celula9 {
    border-width: 3px 0 0 3px;
    border-style:solid;
    border-color: black;
}

.botao {
    width:90%;
    height:90%;
    font-size: 2rem;
    transition: font-size 0.3s ease;
    border:none;
    background-color: transparent;
    cursor: pointer;
}



/* github */

#github {
    position:absolute;
    bottom:15px;
    right:15px;
}

#github img {
    width:60px;
}


/*mensagem*/

#fundo-container-mensagem {
    width:100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.3);
    position: fixed;
    top:0;
    left:0;
    display: none;
}

#container-mensagem {
    width:350px;
    height:170px;
    background-color: white;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:30px;
    border-radius: 0 10px 0 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    position: relative;
    display: flex;
    justify-content: center;
}

#span-mensagem {
    font-size: 1.2rem;
}

#botao-fechar-mensagem {
    padding:10px 20px;
    cursor: pointer;
    border: none;
    background-color: rgb(131, 147, 235);
    color: white;
    font-weight:600;
    position: absolute;
    bottom:10px;
    right:15px;
    transition: background-color 0.5s ease;
    border-radius: 5px;
}

#botao-fechar-mensagem:hover {
    background-color: rgb(153, 167, 237);
}

/* js */
.botao-transition {
    font-size: 3.5rem;
    cursor: default;
}

.fechar-mensagem {
    display: none;
}



@media only screen and (max-width:830px){
    

    body {
        justify-content: flex-end;
    }


    #github {
        display: none;
    }

    main {
        margin: 0 130px 0 0;
    }

    #status-container {
        bottom:25px;
        transform: scale(0.9);
    }

    #reiniciar-partida {
        padding:8px 12px;
        margin-top: 5px;
        font-size:0.9rem;
    }
}


@media only screen and (max-width:740px){

    main {
        margin: 0 50px 0 0;
    }
}


@media only screen and (max-width:630px){

    body {
        justify-content: center;
        align-items: flex-start;
        max-width: 100vw;
        height:120vh;
    }

    main {
        margin: 0;
        border: none;
    }

    #partidas h2 {
        padding-top:10px;
    }

    .jogador-atual {
        margin-top: 10px;
    }

    #status-container {
        left:unset;
        bottom: unset;
        top:90vh;
        right:60px;
    }

    #partidas {
        top:91.5vh;
        bottom: unset;
        left:70px;
    }
}



@media only screen and (max-width:500px){

    #status-container {
        left:unset;
        bottom: unset;
        top:90vh;
        right:30px;
    }

    #partidas {
        top:91.5vh;
        bottom: unset;
        left:35px;
        transform: scale(0.95);
    }
}




@media only screen and (max-width:730px) and (min-height:730px){

    body {
        height: 100vh;
    }

    main {
        margin-top:100px;
    }

    .jogador-atual {
        margin-top: 15px;
    }

    #status-container {
        left:unset;
        bottom: unset;
        top:80vh;
        right:30px;
    }

    #partidas {
        top:80.8vh;
        bottom: unset;
        left:35px;
        transform: scale(0.95);
    }
}



@media only screen and (max-width:730px) and (min-height:600px){

    body {
        height: 100vh;
    }

    #status-container {
        left:unset;
        bottom: unset;
        top:77vh;
        right:30px;
    }

    #partidas {
        top:77.8vh;
        bottom: unset;
        left:40px;
        transform: scale(0.9);
    }
}